<%= require_driver %>
<p id="notice"><%= notice %></p>

<%= render('layouts/driver_sidebar') %>
<div class="form-right">
  <div class="form-order-container">
    <div class="sub-heading"><h1>Mark Package as Collected</h1></div>
    <%= render 'form', pickup: @pickup %>
  </div>
</div>












