<%= require_operator %>

<p id="notice"><%= notice %></p>

<%= render('layouts/operator_sidebar') %>
<div class="left-menu-space"></div>

<div class="right-content form-right">

    <!-- New Orders -->

    <div class="sub-heading">
        <h1>Complete Orders</h1>
        <hr>
        <p>Orders that have been Delivered and Charged for</p>
    </div>
        <div class="panel-group" id="accordion" style="width: 1100px;">
          <% @complete_orders.each do |order| %>
              <%= render('layouts/completeorderstatepartial', id: order[0], amount_to_charge: order[1], time_ordered: order[2], time_delivered: order[3],
                         collapse: order[4]) %>
          <% end %>
        </div>


</div>