<%= require_operator %>

<p id="notice"><%= notice %></p>

<%= render('layouts/operator_sidebar') %>
<div class="left-menu-space"></div>

<div class="right-content form-right">

  <!-- New Orders -->

  <div class="sub-heading">
    <h1>Order Tracking</h1>
    <hr>
    <p>Tracking information for all orders processed by the system</p>
  </div>

    <div class="panel-group" id="accordion" style="width: 1100px;">
      <% @in_progress_orders_page.each do |order| %>
          <%= render('layouts/inprogressorderstatepartial', id: order[0], tracker: order[1], percentage: order[2], time: order[3],
                     collapse: order[4], status: order[5], pickup_time: order[6], checkin_time: order[7], deliver_time: order[8]) %>
      <% end %>
    </div>


</div>