<div class="main-include-margin">
  <div class="form-container">
    <div class="panel panel-default">
      <div class="panel-heading text-center">Operator Creation</div>
      <div class="panel-body">
        <%= render 'form', operator: @operator %>
      </div>
    </div>
  </div>
</div>