<div class="form-container">
  <div class="panel panel-default">
    <div class="panel-heading text-center">Customer Sign Up</div>
    <div class="panel-body">
      <%= render 'form', customer: @customer %>
    </div>
  </div>
</div>

