<%= require_customer %>
<p id="notice"><%= notice %></p>

<%= render('layouts/sidebar') %>
<div class="form-right">
  <div class="form-order-container">
        <div class="sub-heading"><h1>Create Order</h1></div>
        <%= render 'form', order: @order %>
  </div>
</div>


