<%= require_customer %>
<p id="notice"><%= notice %></p>

<%= render('layouts/customer_sidebar') %>
<div class="left-menu-space"></div>
<div class="right-content">
        <div class="sub-heading"><h1>Create Order</h1></div>
        <%= render 'form', order: @order %>
  </div>
</div>


