<div class="row">
  <div class="banner-other-pages">
    <div class="container">
      <h1 align="center">About Us</h1>

    </div>
  </div>
</div>

<div class="container padfix">
<p>Bill Wiley left DHL International in 2001, after a long and successful career, intent on creating his own courier company. Bill began by listing his mobile in the Yellow Pages and advertising in local newpapers. On The Spot couriers was born. Bill would receive pickup requests on his mobile, manually recording package information into a log, then personally collecting and delivering packages later in the day.</p>
<p>On The Spot expanded over the years. More drivers joined the business and the company acquired a central warehouse to process deliveries. On The Spot now boasts a team of over 30 drivers, and with our Next Day Delivery guarantee for the Brisbane area, and our 2 Day Delivery Promise to all Australian capital cities, On The Spot continues to live up to Bill's vision; "The Service of a Large Courier with the Personality of a Small one".</p>
<p>2016 marks a milestone for the On The Spot company, with the introduction of our brand new Website and Electronic Order Management, leading to more efficient courier delivery and service. This new platform allows for better package tracking for both sender and receiver, and provides a centralised hub for all your courier needs.</p>
<p>Of course, you're already here, so why not check it out for yourself?</p>
</div>