<div class="row">
  <div class="banner-other-pages">
    <div class="container">
      <h1 align="center">Contact Us</h1>
    </div>
  </div>
</div>


  <table clsas="contact-table" align = "center">
    <tr>
      <td>
        <div class="phone"></div>
      </td>
      <td>
        <ul class="menu">
          <li>Phone: (07) 1234 5678</li>
          <li>Mobile: 04 1234 5678</li>
        </ul>
      </td>

      <td>
        <div class="address"></div>
      </td>
      <td>
        <ul class="menu">
          <li>Phone: (07) 1234 5678</li>
          <li>Mobile: 04 1234 5678</li>
        </ul>
      </td>

      <td>
        <div class="email"></div>
      </td>
      <td>
        <ul class="menu">
          <li>Quotes: quotes@onthespotdelivery.com.au</li>
          <li>Questions: enquiries@onthespotdelivery.com.au</li>
          <li>Feedback: feedback@onthespotdelivery.com.au</li>
        </ul>
      </td>

    </tr>
  </table>
