<div class="banner-image">

</div>

  <div class="jumbotron">
    <h1>Fast, Friendly Package Delivery</h1>
    <p>Bob's Package Delivery is an online-orientated delivery service that allows customers to effortlessly order delivery services.</p>
    <p><%= link_to("Login", customer_login_path, class: "btn btn-success btn-lg") %>
      <%= link_to("Sign Up", signup_path, class: "btn btn-primary btn-lg") %></p>
  </div>

