<div class="container">
  <div class="jumbotron">
    <h1>Fast, Friendly Package Delivery</h1>
    <p>Bob's Package Delivery is an online-orientated delivery service that allows customers to effortlessly order delivery services.</p>
    <p><a class="btn btn-success btn-lg homepagebutton" href="#" role="button">Login</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">Signup</a></p>
  </div>
</div>
