<%= require_driver %>
<p id="notice"><%= notice %></p>

<%= render('layouts/driver_sidebar') %>
<div class="left-menu-space"></div>
<div class="right-content">
    <div class="sub-heading"><h1>Mark Package as Delivered</h1></div>
    <%= render 'form', deliver: @deliver %>

</div>