<%= require_operator %>

<p id="notice"><%= notice %></p>

<%= render('layouts/operator_sidebar') %>
<div class="left-menu-space"></div>

<div class="right-content form-right">

  <!-- New Orders -->

  <div class="sub-heading">
    <h1>Process Payment</h1>
    <hr>
    <p>The Order below has yet to be charged for</p>
  </div>
  <%= render 'form', payment: @payment %>

</div>