<div class="left-menu">
  <h1>
    Driver Dashboard
  </h1>
  </br>
  <ul class="nav nav-pills nav-stacked center-links">
    <li><%= link_to("Log Order Pickup", new_order_path ) %></li>
    <li><%= link_to("Log Warehouse Check in", new_order_path ) %></li>
    <li><%= link_to("Log Order Delivery", new_order_path ) %></li>
  </ul>

</div>