<div class="left-menu">
  <h1>
    Operator Dashboard
  </h1>
  </br>
  <ul class="nav nav-pills nav-stacked center-links">
    <li><%= link_to("View Active Orders", new_pickup_path ) %></li>
    <li><%= link_to("Charge Complete Orders", new_checkingin_path ) %></li>
    <li><%= link_to("Add new Driver", new_driver_path ) %></li>
    <li><%= link_to("Add new operator", new_operator_path ) %></li>
  </ul>

</div>