<div class="left-menu">
  <h1>
    Customer Dashboard
  </h1>
  </br>
  <ul class="nav nav-pills nav-stacked center-links">
    <li><%= link_to("Place an Order", new_order_path ) %></li>
  </ul>

</div>